<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liyh.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".permission.PermissionActivity"></activity>
        <activity
            android:name=".view.KLineActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".view.StepActivity" />
        <activity android:name=".database.DataBaseActivity" />
        <activity
            android:name=".LauncherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".glide.MainActivity" />
        <activity android:name=".network.NetWorkChangeActivity" />
        <activity
            android:name=".view.CustomViewActivity"
            android:screenOrientation="landscape" />
        <activity android:name="com.liyh.pluginlibrary.ProxyActivity" />
        <activity
            android:name=".BActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".CActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".DActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".ioc.IocActivity" /> <!-- 静态注册广播，7.0以后不可用 -->
        <!-- <receiver android:name="com.liyh.networklistenerlibrary.NetChangeObserverr"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <service
            android:name=".aidl.AIDLService"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.liyh.app.aidl" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>